.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.title {
  margin: 15px 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.3rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  cursor: pointer;
}

.text {
  padding: 1rem;
}

.brand__logo {
  height: 0.9rem;
  margin-top: 2rem;
  cursor: pointer;
}

.navbar {
  /*
  background-color: #0b1d34;
  color: #f9f9f9;
  */
  padding: 1.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}

.navbar .brand {
  display: inline;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.navbar li {
  font-weight: bold;
  font-size: 0.9rem;
  border-bottom: 2px solid #ffffff;
}

.navbar .nav__link.active {
  border-bottom: 2px solid #000000;
}

.navbar .nav__link:active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.navbar .nav__link:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header {
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 80vh; */
  /*
  background-color: #0b1d34;
  color: #ffffff;
  */
  width: 50vw;
}

.skills {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  /*
  background-color: #0b1d34;
  color: #f9f9f9;
  border-top: 2px solid #a7f542;
  */
  font-size: 0.8rem;
}

.profile__image {
  border-radius: 50%;
  user-select: none;
}

.social__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fade {
  color: #aaaaaa;
}

.connect {
  text-align: center;
  margin: 15px 0;
}

.skills__header {
  margin-bottom: 10px;
}

.error__container {
  height: 100wh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__message {
  word-wrap: break-word;
  display: inline;
}

.sub__container {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
